<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= meal.title %></h2>
    <div class="content">
      <p>Available: <%= meal.description %></p>
      <p>Location: <%= meal.location %></p>
      <p>Price: <%= meal.price %> kr</p>
      <p>Reservations: <%= meal.max_reservations %></p>
    </div>
    <a class="edit" data-doc="<%= meal.id %>" href="/all-meals/<%= meal.id %>/edit">
      <img src="/edit.svg" alt="edit icon">
    </a>
    <a class="delete" data-doc="<%= meal.id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script>

    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', async (e) => {
        try {
            const endpoint = `/all-meals/${trashcan.dataset.doc}`;
            const response = await fetch(endpoint, { method: 'DELETE' });
            const data = await response.json();
            window.location.href = await data.redirect
        }
        catch (err) {
            console.log(err)
        }
    });

  </script>
</body>
</html>