<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
    <%- include("./partials/nav.ejs") %>

        <div class="create-meal content">
            <form data-doc="<%= meal.id %>" method="POST">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="<%= meal.title %>" required>

                <label for="number_of_guests">Maximum number of guests:</label>
                <input type="number" id="number_of_guests" name="number_of_guests" value="<%= reservation.number_of_guests %>" required>

                <label for="stars">Rating from 1 to 5:</label>
                <input type="number" id="stars" name="stars" value="<%= review.stars %>" required>

                <button>Submit</button>
            </form>
        </div>

    <%- include("./partials/footer.ejs") %>

    <script>

        const edit = document.querySelector('form');
        edit.addEventListener('submit', async (e) => {
            e.preventDefault();
            try {
                const formData = new FormData(e.target);
                const formDataObj = Object.fromEntries(formData.entries());
                const endpoint = `/all-meals/${edit.dataset.doc}/edit`;
                const response = await fetch(endpoint, {
                                            method: 'PUT',
                                            headers: {'Content-type': 'application/json'},
                                            body: JSON.stringify(formDataObj)
                                        });
                const data = await response.json();
                window.location.href = await data.redirect;
            }
            catch (err) {
                console.log(err)
            }
        });
    
    </script>

    </body>
</html>